 .u-section-1 {
  min-height: 696px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 696px;
  background-image: url("images/1000-20250310161715-f2_wn.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 487px;
  height: 96px;
  margin: 187px 333px 0 360px;
}

.u-section-1 .u-btn-1 {
  --radius: 20px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 134px auto 0 440px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    min-height: 574px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 183px;
    margin-left: 210px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 240px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 444px;
  }

  .u-section-1 .u-image-1 {
    min-height: 440px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 73px;
    margin-left: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 336px;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 3px;
    margin-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1px;
    margin-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 63px;
    margin-top: 149px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 118px;
    margin-left: 83px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 864px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px 212px 0 139px;
}

.u-section-2 .u-text-2 {
  margin: 20px 212px 0 139px;
}

.u-section-2 .u-image-1 {
  width: 181px;
  height: 300px;
  margin: 139px auto 0 83px;
}

.u-section-2 .u-image-2 {
  width: 183px;
  height: 306px;
  margin: -300px 80px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 177px;
  height: 374px;
  margin: -374px auto 0;
}

.u-section-2 .u-image-4 {
  width: 178px;
  height: 339px;
  margin: -345px auto 0 284px;
}

.u-section-2 .u-image-5 {
  width: 179px;
  height: 345px;
  margin: -339px 283px 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 30px 212px 0 139px;
}

.u-section-2 .u-text-4 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 131px auto 20px 398px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 112px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 39px;
    margin-right: 112px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 112px;
    margin-left: 39px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 328px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5555555555555554rem;
  }

  .u-section-2 .u-text-4 {
    margin-left: 188px;
    font-size: 2.2222222222222223rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2504px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 9px;
    margin-left: -9px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 71px;
  }

  .u-section-2 .u-image-2 {
    width: 170px;
    height: 339px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 157px;
    height: 339px;
    margin-top: -339px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 157px;
    height: 322px;
    margin-top: 30px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-image-5 {
    width: 170px;
    height: 322px;
    margin-top: -322px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.75rem;
    width: auto;
    margin-top: 848px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    font-size: 1.875rem;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: url("images/eco-retreat-1-17410769069051368291786-0-0-749-1430-crop-1741076931556880497473.webp");
  background-position: 50% 50%;
  min-height: 1239px;
}

.u-section-3 .u-image-1 {
  width: 446px;
  height: 679px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -92px calc(((100% - 1140px) / 2)  + 925px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-2 {
  width: 300px;
  height: 300px;
  margin: -587px calc(((100% - 1140px) / 2)  + 86px) 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -50px calc(((100% - 1140px) / 2)  + 130px) 0 calc(((100% - 1140px) / 2)  + 811px);
}

.u-section-3 .u-image-3 {
  width: 319px;
  height: 300px;
  margin: -282px calc(((100% - 1140px) / 2)  + 395px) 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: -50px auto 0;
}

.u-section-3 .u-image-4 {
  width: 640px;
  height: 274px;
  margin: 65px calc(((100% - 1140px) / 2)  + 74px) 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-style: italic;
  margin: -60px calc(((100% - 1140px) / 2)  + 379px) 60px calc(((100% - 1140px) / 2)  + 462px);
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1022px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2)  + 734px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: 1013px;
    margin-right: calc(((100% - 940px) / 2)  + 41px);
    margin-left: calc(((100% - 940px) / 2)  + 317px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 419px;
    margin-right: 200px;
    margin-left: calc(((100% - 940px) / 2)  + 428px);
  }

  .u-section-3 .u-image-3 {
    margin-top: -1744px;
    margin-right: calc(((100% - 940px) / 2)  + 177px);
    margin-left: calc(((100% - 940px) / 2)  + 272px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 615px;
    margin-left: calc(((100% - 940px) / 2)  + 272px);
  }

  .u-section-3 .u-image-4 {
    margin-top: 791px;
    margin-right: calc(((100% - 940px) / 2)  + 115px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2)  + 92px);
    margin-left: calc(((100% - 940px) / 2)  + 272px);
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 783px;
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 514px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 720px) / 2)  + 41px);
    margin-left: calc(((100% - 720px) / 2)  + 97px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2)  + 292px);
  }

  .u-section-3 .u-image-3 {
    margin-right: calc(((100% - 720px) / 2)  + 193px);
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2)  + 208px);
  }

  .u-section-3 .u-image-4 {
    margin-right: calc(((100% - 720px) / 2)  + 115px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 208px);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 544px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.1111111111111112rem;
    margin-right: calc(((100% - 540px) / 2)  + 334px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-2 {
    margin-top: 1006px;
    margin-right: calc(((100% - 540px) / 2)  + 41px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-2 {
    font-size: 1.1111111111111112rem;
    margin-right: 150px;
    margin-left: calc(((100% - 540px) / 2)  + 197px);
  }

  .u-section-3 .u-image-3 {
    margin-top: -1734px;
    margin-right: calc(((100% - 540px) / 2)  + 65px);
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2)  + 156px);
  }

  .u-section-3 .u-image-4 {
    width: 540px;
    height: 231px;
    margin-top: -231px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-4 {
    margin-top: -17px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 156px);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 225px;
  }

  .u-section-3 .u-image-1 {
    width: 193px;
    height: 165px;
    margin-top: 24px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -64px;
    margin-right: calc(((100% - 340px) / 2)  + 249px);
    margin-left: calc(((100% - 340px) / 2)  + -36px);
  }

  .u-section-3 .u-image-2 {
    width: 192px;
    height: 192px;
    margin-top: 17px;
    margin-right: calc(((100% - 340px) / 2)  + -22px);
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -64px;
    margin-right: calc(((100% - 340px) / 2)  + -10px);
    margin-left: calc(((100% - 340px) / 2)  + 189px);
  }

  .u-section-3 .u-image-3 {
    width: 192px;
    height: 160px;
    margin-top: -328px;
    margin-right: calc(((100% - 340px) / 2)  + -22px);
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -51px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2)  + 199px);
  }

  .u-section-3 .u-image-4 {
    width: 191px;
    height: 192px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -94px;
    margin-right: calc(((100% - 340px) / 2)  + 207px);
    margin-left: calc(((100% - 340px) / 2)  + -26px);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 31px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-image-1 {
  width: 161px;
  height: 203px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 115px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 175px;
  height: 202px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -203px auto 0 181px;
}

.u-section-4 .u-image-3 {
  width: 174px;
  height: 202px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -202px auto 0 376px;
}

.u-section-4 .u-image-4 {
  width: 175px;
  height: 203px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -201px 395px 0 auto;
}

.u-section-4 .u-image-5 {
  --radius: 10px;
  width: 178px;
  height: 203px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -203px 197px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 147px;
  height: 202px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -203px 19px 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 117px auto 0 236px;
}

.u-section-4 .u-text-5 {
  margin: 31px 213px 34px 156px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: 100px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 281px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 476px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 20px;
    margin-right: 545px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 297px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 119px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 76px;
    margin-right: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    margin-left: 210px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 391px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 586px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 355px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 20px;
    margin-right: 457px;
  }

  .u-section-4 .u-image-6 {
    margin-right: 229px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 481px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 666px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 445px;
  }

  .u-section-4 .u-image-5 {
    margin-right: 357px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 20px;
    margin-right: 369px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    font-weight: 700;
    margin-top: 18px;
    margin-right: 72px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-4 .u-image-1 {
    width: 164px;
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    height: 203px;
    margin-right: 400px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 170px;
    margin-top: 18px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    margin-top: -203px;
    margin-right: 400px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 17px;
    margin-right: 392px;
  }

  .u-section-4 .u-image-6 {
    width: 164px;
    margin-top: -202px;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 38px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 28px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 610px;
}

.u-section-5 .u-image-1 {
  width: 707px;
  height: 604px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 3px 0 0 auto;
}

.u-section-5 .u-image-2 {
  width: 571px;
  height: 517px;
  margin: -520px auto 0 -1px;
}

.u-section-5 .u-image-3 {
  width: 180px;
  height: 55px;
  margin: -123px auto 0 43px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -428px 768px 0 148px;
}

.u-section-5 .u-image-4 {
  width: 483px;
  height: 62px;
  margin: 69px auto 0 43px;
}

.u-section-5 .u-image-5 {
  width: 224px;
  height: 56px;
  margin: -131px auto 0 23px;
}

.u-section-5 .u-image-6 {
  width: 258px;
  height: 210px;
  margin: 75px auto 0 38px;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 69px auto 24px 61px;
  padding: 10px 50px 10px 49px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 668px;
    margin-left: 48px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 496px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 461px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 489px;
    margin-top: -377px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: -95px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 316px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-5 .u-image-1 {
    height: 290px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 374px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    width: 144px;
    height: 44px;
    margin-top: -191px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -200px;
    margin-right: 38px;
    margin-left: 78px;
  }

  .u-section-5 .u-image-4 {
    height: 44px;
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-5 {
    width: 145px;
    height: 49px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    width: 169px;
    height: 138px;
    margin-top: -41px;
    margin-left: 1px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 28px;
    margin-left: auto;
    margin-bottom: 59px;
  }
} .u-section-6 {
  background-image: url("images/snapedit_1742530108808.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 1334px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px 474px 0 513px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 375px 0 414px;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  width: 812px;
  margin: 24px auto 0;
}

.u-section-6 .u-image-1 {
  width: 177px;
  height: 205px;
  --radius: 10px;
  margin: 91px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 168px;
  height: 205px;
  --radius: 10px;
  margin: -205px 0 0 auto;
}

.u-section-6 .u-image-3 {
  width: 168px;
  height: 205px;
  --radius: 10px;
  margin: -205px auto 0 385px;
}

.u-section-6 .u-image-4 {
  width: 168px;
  height: 205px;
  --radius: 10px;
  margin: -205px auto 0 197px;
}

.u-section-6 .u-image-5 {
  width: 168px;
  height: 205px;
  --radius: 10px;
  margin: -205px 395px 0 auto;
}

.u-section-6 .u-image-6 {
  width: 168px;
  height: 205px;
  --radius: 10px;
  margin: -205px 188px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 6rem;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 551px 145px 60px 184px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 374px;
    margin-left: 413px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 275px;
    margin-left: 314px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 45px;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 264px;
    margin-left: 303px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 165px;
    margin-left: 204px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.1111111111111112rem;
    margin-right: 174px;
    margin-left: 213px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-right: 75px;
    margin-left: 114px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1rem;
    width: 540px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 372px;
  }

  .u-section-6 .u-image-5 {
    margin-right: 372px;
  }

  .u-section-6 .u-text-4 {
    font-size: 5.333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1569px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 74px;
    margin-left: 113px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 169px;
    height: 194px;
    margin-top: 32px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 253px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -434px;
    margin-left: 2px;
  }

  .u-section-6 .u-image-4 {
    width: 161px;
    height: 197px;
    margin-top: -423px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-5 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-6 .u-image-6 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: 2px;
  }

  .u-section-6 .u-text-4 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 448px;
  }
} .u-section-7 {
  min-height: 1110px;
}

.u-section-7 .u-image-1 {
  width: 439px;
  height: 169px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-image-2 {
  width: 636px;
  height: 411px;
  margin: 25px 0 0 auto;
}

.u-section-7 .u-text-1 {
  margin: -411px calc(((100% - 1140px) / 2)  + 586px) 60px calc(((100% - 1140px) / 2)  + -43px);
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + 487px);
    margin-left: calc(((100% - 940px) / 2)  + 51px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2)  + 267px);
    margin-left: calc(((100% - 720px) / 2)  + 51px);
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1048px;
  }

  .u-section-7 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 349px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2)  + 87px);
    margin-left: calc(((100% - 540px) / 2)  + 51px);
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1130px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 131px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 220px;
    margin-top: 615px;
    margin-left: auto;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
    margin-top: -820px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 593px;
}

.u-section-8 .u-slider-1 {
  min-height: 580px;
  margin-bottom: 13px;
  height: auto;
  margin-top: 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-8 .u-container-layout-1 {
  padding: 12px 50px;
}

.u-section-8 .u-image-1 {
  width: 571px;
  height: 29px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 29px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 385px;
  height: 532px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -29px auto 0 12px;
}

.u-section-8 .u-image-3 {
  width: 325px;
  height: 220px;
  margin: -498px 312px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 308px;
  height: 220px;
  margin: -220px 0 0 auto;
}

.u-section-8 .u-image-5 {
  width: 325px;
  height: 259px;
  margin: 12px 312px 0 auto;
}

.u-section-8 .u-image-6 {
  width: 300px;
  height: 259px;
  margin: -259px 4px 0 auto;
}

.u-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 20px 4px 0 0;
  padding: 10px 6px 10px 5px;
}

.u-section-8 .u-container-layout-2 {
  padding: 0;
}

.u-section-8 .u-image-7 {
  width: 382px;
  height: 502px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px auto 0 57px;
}

.u-section-8 .u-image-8 {
  width: 684px;
  height: 32px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -502px 0 0 auto;
}

.u-section-8 .u-image-9 {
  width: 316px;
  height: 214px;
  margin: 10px 376px 0 auto;
}

.u-section-8 .u-image-10 {
  width: 316px;
  height: 236px;
  margin: 10px 376px 0 auto;
}

.u-section-8 .u-image-11 {
  width: 366px;
  height: 258px;
  margin: -368px 0 0 auto;
}

.u-section-8 .u-container-layout-3 {
  padding: 0 50px;
}

.u-section-8 .u-image-12 {
  width: 364px;
  height: 504px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px auto 0 15px;
}

.u-section-8 .u-image-13 {
  width: 570px;
  height: 29px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -506px 59px 0 auto;
}

.u-section-8 .u-image-14 {
  width: 288px;
  height: 231px;
  margin: 32px 330px 0 auto;
}

.u-section-8 .u-image-15 {
  width: 288px;
  height: 199px;
  margin: 15px 330px 0 auto;
}

.u-section-8 .u-image-16 {
  width: 313px;
  height: 229px;
  margin: -330px 0 0 auto;
}

.u-section-8 .u-container-layout-4 {
  padding: 0;
}

.u-section-8 .u-image-17 {
  width: 368px;
  height: 520px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 50px;
}

.u-section-8 .u-image-18 {
  width: 570px;
  height: 29px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -509px 132px 0 auto;
}

.u-section-8 .u-image-19 {
  width: 330px;
  height: 221px;
  margin: 13px 373px 0 auto;
}

.u-section-8 .u-image-20 {
  width: 330px;
  height: 235px;
  margin: 11px 372px 0 auto;
}

.u-section-8 .u-image-21 {
  width: 339px;
  height: 234px;
  margin: -367px 11px 0 auto;
}

.u-section-8 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-8 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-8 .u-image-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 573px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 520px;
    height: 26px;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: -26px;
  }

  .u-section-8 .u-image-3 {
    margin-right: 195px;
  }

  .u-section-8 .u-image-5 {
    margin-right: 195px;
  }

  .u-section-8 .u-image-8 {
    width: 540px;
    height: 25px;
  }

  .u-section-8 .u-image-9 {
    margin-right: 224px;
  }

  .u-section-8 .u-image-10 {
    margin-right: 224px;
  }

  .u-section-8 .u-image-11 {
    margin-top: 20px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-13 {
    width: 520px;
    height: 26px;
    margin-right: 0;
  }

  .u-section-8 .u-image-14 {
    margin-right: 232px;
  }

  .u-section-8 .u-image-15 {
    margin-right: 232px;
  }

  .u-section-8 .u-image-18 {
    width: 540px;
    height: 27px;
    margin-right: 0;
  }

  .u-section-8 .u-image-19 {
    margin-right: 210px;
  }

  .u-section-8 .u-image-20 {
    margin-right: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1300px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 1340px;
    margin-bottom: 29px;
    margin-top: -69px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 320px;
    height: 16px;
    margin-top: 495px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 320px;
    height: 443px;
    margin-top: -501px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    width: 162px;
    height: 125px;
    margin-top: 85px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-4 {
    width: 163px;
    height: 125px;
    margin-top: -125px;
    margin-right: 5px;
  }

  .u-section-8 .u-image-5 {
    width: 162px;
    height: 128px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-6 {
    width: 168px;
    height: 128px;
    margin-top: -128px;
    margin-right: 5px;
  }

  .u-section-8 .u-image-7 {
    width: 340px;
    height: 447px;
    margin-left: 0;
  }

  .u-section-8 .u-image-8 {
    width: 340px;
    height: 16px;
  }

  .u-section-8 .u-image-9 {
    width: 164px;
    height: 123px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-image-10 {
    width: 174px;
    height: 123px;
    margin-top: -123px;
    margin-right: 0;
  }

  .u-section-8 .u-image-11 {
    width: 200px;
    height: 135px;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-image-12 {
    width: 320px;
    height: 443px;
    margin-left: 0;
  }

  .u-section-8 .u-image-13 {
    width: 320px;
    height: 16px;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 6px;
  }

  .u-section-8 .u-image-14 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-8 .u-image-15 {
    width: 301px;
    height: 210px;
    margin-top: 33px;
    margin-right: 14px;
  }

  .u-section-8 .u-image-16 {
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-8 .u-image-17 {
    width: 340px;
    height: 480px;
    margin-left: 0;
  }

  .u-section-8 .u-image-18 {
    height: 17px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-19 {
    width: 315px;
    height: 207px;
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-8 .u-image-20 {
    width: 310px;
    height: 233px;
    margin-top: 30px;
    margin-right: auto;
  }

  .u-section-8 .u-image-21 {
    width: 304px;
    height: 232px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: 15px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1443px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 299px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-1 {
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 235px 0 0;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: 37px auto 0 119px;
}

.u-section-9 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -42px auto 0 400px;
}

.u-section-9 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1rem;
  margin: -42px 256px 0 auto;
}

.u-section-9 .u-slider-1 {
  min-height: 540px;
  height: auto;
  width: 1140px;
  margin: 40px -17px 60px auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-9 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-9 .u-video-1 {
  width: 944px;
  height: 516px;
  margin: 0 auto 0 40px;
}

.u-section-9 .embed-responsive-1 {
  position: absolute;
}

.u-section-9 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 21px 65px;
}

.u-section-9 .u-image-2 {
  height: 473px;
  width: 882px;
  margin: 0 58px 0 auto;
}

.u-section-9 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-9 .u-image-3 {
  width: 802px;
  height: 464px;
  margin: 0 62px 0 auto;
}

.u-section-9 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-9 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-9 .u-image-1 {
    width: 470px;
    height: 247px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-9 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-top: 20px;
    margin-left: 200px;
  }

  .u-section-9 .u-btn-3 {
    margin-right: 56px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 524px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-9 .u-video-1 {
    width: 840px;
    height: 459px;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    height: 434px;
    width: 810px;
    margin-right: 0;
  }

  .u-section-9 .u-image-3 {
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-9 .u-image-1 {
    width: 360px;
    height: 189px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
  }

  .u-section-9 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-9 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-9 .u-slider-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-video-1 {
    width: 660px;
    height: 361px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-2 {
    height: 354px;
    width: 660px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-image-3 {
    width: 660px;
    height: 382px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-9 .u-image-1 {
    width: 270px;
    height: 142px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-9 .u-slider-1 {
    width: 540px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-video-1 {
    width: 520px;
    height: 284px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 279px;
    width: 520px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    width: 520px;
    height: 301px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-9 .u-image-1 {
    width: 303px;
    height: 167px;
    margin-top: 56px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 20px;
    padding: 2px 0 3px;
  }

  .u-section-9 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: -18px;
    margin-left: auto;
    padding: 2px 7px 3px 5px;
  }

  .u-section-9 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: -19px;
    padding: 2px 0 3px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 215px;
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-video-1 {
    width: 320px;
    height: 175px;
  }

  .u-section-9 .u-image-2 {
    height: 172px;
    width: 320px;
  }

  .u-section-9 .u-image-3 {
    width: 320px;
    height: 185px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 918px;
}

.u-section-10 .u-text-1 {
  font-size: 4.5rem;
  margin: 27px 232px 0 auto;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0 169px;
}

.u-section-10 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 368px;
  padding: 10px 6px 10px 5px;
}

.u-section-10 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 509px;
  padding: 10px 6px 10px 5px;
}

.u-section-10 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 430px 0 auto;
  padding: 10px 6px 10px 5px;
}

.u-section-10 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 290px 0 auto;
  padding: 10px 6px 10px 5px;
}

.u-section-10 .u-slider-1 {
  min-height: 540px;
  height: auto;
  width: 1140px;
  margin: 0 290px 0 0;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-10 .u-carousel-item-1 {
  margin-top: 0;
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-10 .u-image-1 {
  height: 424px;
  width: 1019px;
  margin: 47px 0 0 auto;
}

.u-section-10 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
}

.u-section-10 .u-container-layout-2 {
  padding: 21px 39px;
}

.u-section-10 .u-image-2 {
  height: 441px;
  margin: 20px 0 0;
}

.u-section-10 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-10 .u-image-3 {
  height: 407px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-10 .u-image-4 {
  height: 430px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-10 .u-image-5 {
  width: 995px;
  height: 441px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-10 .u-image-6 {
  width: 982px;
  height: 460px;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-10 .u-image-7 {
  height: 480px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-8 {
  padding: 20px 42px;
}

.u-section-10 .u-image-8 {
  height: 491px;
  margin: 10px 0 0;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-10 .u-image-9 {
  height: 480px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-10 {
  padding: 30px 40px;
}

.u-section-10 .u-image-10 {
  height: 473px;
  width: 1040px;
  margin: 0 0 0 auto;
}

.u-section-10 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-10 .u-image-11 {
  height: 480px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-12 {
  padding: 30px 33px;
}

.u-section-10 .u-image-12 {
  width: 1018px;
  height: 430px;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-13 {
  padding: 30px 50px;
}

.u-section-10 .u-image-13 {
  width: 907px;
  height: 439px;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-14 {
  padding: 30px 50px;
}

.u-section-10 .u-image-14 {
  height: 480px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-10 .u-container-layout-15 {
  padding: 30px 50px;
}

.u-section-10 .u-image-15 {
  width: 990px;
  height: 394px;
  margin: 33px auto 0 17px;
}

.u-section-10 .u-container-layout-16 {
  padding: 30px 50px;
}

.u-section-10 .u-image-16 {
  width: 940px;
  height: 393px;
  margin: 50px auto 0;
}

.u-section-10 .u-container-layout-17 {
  padding: 30px 50px;
}

.u-section-10 .u-image-17 {
  width: 948px;
  height: 376px;
  margin: 43px auto 0;
}

.u-section-10 .u-container-layout-18 {
  padding: 30px 50px;
}

.u-section-10 .u-image-18 {
  width: 916px;
  height: 384px;
  margin: 34px auto 0 50px;
}

.u-section-10 .u-container-layout-19 {
  padding: 30px 50px;
}

.u-section-10 .u-image-19 {
  width: 988px;
  height: 424px;
  margin: 0 auto;
}

.u-section-10 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
}

.u-section-10 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-10 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --radius: 20px;
  background-image: none;
  margin: 17px auto 60px 488px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-10 .u-btn-2 {
    margin-top: 20px;
    margin-left: 168px;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 309px;
  }

  .u-section-10 .u-btn-4 {
    margin-right: 230px;
  }

  .u-section-10 .u-btn-5 {
    margin-right: 90px;
  }

  .u-section-10 .u-slider-1 {
    min-height: 483px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    inset: auto;
    height: 350px;
    width: 840px;
  }

  .u-section-10 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-5 {
    width: 840px;
    height: 372px;
  }

  .u-section-10 .u-image-6 {
    width: 840px;
    height: 393px;
  }

  .u-section-10 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-10 {
    height: 391px;
    width: 860px;
  }

  .u-section-10 .u-image-12 {
    width: 875px;
    height: 370px;
  }

  .u-section-10 .u-image-13 {
    width: 840px;
    height: 407px;
  }

  .u-section-10 .u-image-15 {
    width: 840px;
    height: 334px;
    margin-left: 0;
  }

  .u-section-10 .u-image-16 {
    width: 840px;
    height: 351px;
  }

  .u-section-10 .u-image-17 {
    width: 840px;
    height: 333px;
  }

  .u-section-10 .u-image-18 {
    width: 840px;
    height: 352px;
    margin-left: 0;
  }

  .u-section-10 .u-image-19 {
    width: 840px;
    height: 360px;
  }

  .u-section-10 .u-btn-6 {
    margin-left: 288px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-10 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-10 .u-btn-3 {
    margin-top: 20px;
    margin-left: 89px;
  }

  .u-section-10 .u-btn-4 {
    margin-right: 10px;
  }

  .u-section-10 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-10 .u-slider-1 {
    min-height: 385px;
    width: 720px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-1 {
    height: 275px;
    width: 660px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-5 {
    width: 660px;
    height: 292px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-6 {
    width: 660px;
    height: 309px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-10 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-10 {
    height: 300px;
    width: 660px;
  }

  .u-section-10 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-12 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-12 {
    width: 660px;
    height: 279px;
  }

  .u-section-10 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-13 {
    width: 660px;
    height: 320px;
  }

  .u-section-10 .u-container-layout-14 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-15 {
    width: 660px;
    height: 262px;
  }

  .u-section-10 .u-container-layout-16 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-16 {
    width: 660px;
    height: 276px;
  }

  .u-section-10 .u-container-layout-17 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-17 {
    width: 660px;
    height: 262px;
  }

  .u-section-10 .u-container-layout-18 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-18 {
    width: 660px;
    height: 277px;
  }

  .u-section-10 .u-container-layout-19 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-image-19 {
    width: 660px;
    height: 283px;
  }

  .u-section-10 .u-btn-6 {
    margin-left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-10 .u-text-1 {
    font-size: 3rem;
    margin-right: 174px;
  }

  .u-section-10 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-10 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-10 .u-btn-5 {
    margin-top: 20px;
  }

  .u-section-10 .u-slider-1 {
    min-height: 304px;
    width: 540px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-1 {
    height: 217px;
    width: 520px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-5 {
    width: 520px;
    height: 230px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-6 {
    width: 520px;
    height: 243px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-10 {
    height: 236px;
    width: 520px;
  }

  .u-section-10 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-12 {
    width: 520px;
    height: 220px;
  }

  .u-section-10 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-13 {
    width: 520px;
    height: 252px;
  }

  .u-section-10 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-15 {
    width: 520px;
    height: 206px;
  }

  .u-section-10 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-16 {
    width: 520px;
    height: 217px;
  }

  .u-section-10 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-17 {
    width: 520px;
    height: 206px;
  }

  .u-section-10 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-18 {
    width: 520px;
    height: 218px;
  }

  .u-section-10 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-19 {
    width: 520px;
    height: 223px;
  }

  .u-section-10 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 21px;
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-10 .u-btn-1 {
    padding: 4px 0 6px;
  }

  .u-section-10 .u-btn-2 {
    margin-top: -32px;
    margin-right: 99px;
    margin-left: auto;
    padding: 4px 2px 6px;
  }

  .u-section-10 .u-btn-3 {
    margin-top: -32px;
    margin-right: 30px;
    margin-left: auto;
    padding-top: 4px;
    padding-bottom: 5px;
  }

  .u-section-10 .u-btn-4 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 6px;
  }

  .u-section-10 .u-btn-5 {
    margin-top: -33px;
    margin-right: 41px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-10 .u-slider-1 {
    min-height: 188px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-carousel-indicators-1 {
    left: auto;
    right: -124px;
    bottom: -22px;
  }

  .u-section-10 .u-image-1 {
    height: 134px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-2 {
    height: 134px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-10 .u-image-3 {
    height: 144px;
    margin-top: 29px;
  }

  .u-section-10 .u-container-layout-4 {
    padding: 15px 0;
  }

  .u-section-10 .u-image-4 {
    height: 137px;
    width: 340px;
    margin-right: -8px;
    margin-left: auto;
  }

  .u-section-10 .u-image-5 {
    width: 320px;
    height: 142px;
  }

  .u-section-10 .u-image-6 {
    width: 320px;
    height: 150px;
  }

  .u-section-10 .u-container-layout-7 {
    padding: 22px 0;
  }

  .u-section-10 .u-image-7 {
    height: 180px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-image-8 {
    height: 231px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-image-9 {
    height: 167px;
  }

  .u-section-10 .u-image-10 {
    height: 145px;
    width: 320px;
  }

  .u-section-10 .u-container-layout-11 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-10 .u-image-11 {
    height: 160px;
    margin-top: 15px;
    margin-bottom: -15px;
  }

  .u-section-10 .u-image-12 {
    width: 320px;
    height: 135px;
  }

  .u-section-10 .u-image-13 {
    width: 320px;
    height: 155px;
  }

  .u-section-10 .u-image-14 {
    height: 143px;
  }

  .u-section-10 .u-image-15 {
    width: 320px;
    height: 127px;
  }

  .u-section-10 .u-image-16 {
    width: 320px;
    height: 134px;
  }

  .u-section-10 .u-image-17 {
    width: 320px;
    height: 127px;
  }

  .u-section-10 .u-image-18 {
    width: 320px;
    height: 134px;
  }

  .u-section-10 .u-image-19 {
    width: 320px;
    height: 137px;
  }

  .u-section-10 .u-carousel-control-1 {
    padding: 5px;
  }

  .u-section-10 .u-carousel-control-2 {
    padding: 5px;
  }

  .u-section-10 .u-btn-6 {
    margin-top: 55px;
    margin-left: auto;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 868px;
}

.u-section-11 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-11 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-11 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-11 .u-image-1 {
  width: 737px;
  height: 500px;
  margin: 33px 160px 60px auto;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 488px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-11 .u-text-2 {
    font-size: 2rem;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 366px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 230px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 763px;
}

.u-section-12 .u-image-1 {
  height: 757px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -750px 0 0 734px;
}

.u-section-12 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 17px 168px 0 734px;
}

.u-section-12 .u-text-3 {
  font-weight: 700;
  margin: 17px 0 0 728px;
}

.u-section-12 .u-form-1 {
  height: 132px;
  margin: 0 0 0 570px;
}

.u-section-12 .u-form-group-2 {
  margin-left: 0;
}

.u-section-12 .u-form-group-3 {
  margin-left: 0;
}

.u-section-12 .u-form-group-4 {
  margin-left: 0;
}

.u-section-12 .u-form-group-5 {
  margin-left: 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  border-style: solid;
  --radius: 50px;
}

.u-section-12 .u-image-2 {
  width: 229px;
  height: 87px;
  margin: -33px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 534px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 68px;
    margin-left: 634px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 528px;
  }

  .u-section-12 .u-form-1 {
    margin-left: 370px;
  }

  .u-section-12 .u-form-group-2 {
    margin: 20px 48px 60px 528px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-left: 314px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 0;
    margin-left: 482px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 308px;
  }

  .u-section-12 .u-form-1 {
    margin-left: 150px;
  }

  .u-section-12 .u-form-group-2 {
    margin-left: 308px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    font-size: 2rem;
    margin-left: 134px;
  }

  .u-section-12 .u-text-2 {
    font-size: 1.3333333333333333rem;
    margin-left: 302px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 128px;
  }

  .u-section-12 .u-form-1 {
    margin-left: 0;
  }

  .u-section-12 .u-form-group-2 {
    margin-left: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-12 .u-image-1 {
    height: 889px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: -882px;
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 102px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 0;
  }

  .u-section-12 .u-form-1 {
    height: 433px;
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-form-group-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-image-2 {
    margin-top: 30px;
    margin-bottom: 76px;
  }
}